{% include 'sidebar.html' %}
{% load static %}
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MEDINOVA - Hospital Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
    <body>
        
        <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm mb-5">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Medinova</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </nav>
        </div>
    </div>
</body>
    <!-- Navbar End -->
    


<body>
    <div class="form-float">
        <div class="container" style="margin-left:250px;">
            {% if messages %}
                
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
                    {% endfor %}
                
            {% endif %}
        </div>
 <a href="{% url 'add_doctor' %}" ><button class="btn btn-dark m-3" style ="float: right;">Add Doctor</button></a>
{% comment %} <a href="{% url 'emp_csv' %}" ><button class="btn btn-dark m-3" style ="float: right;">Download</button></a> {% endcomment %}
    
    <div class="col-md-7 m-3" >
        <h5 style="border-bottom:2px solid black;margin-left: 200px;" class="text-center">Show Doctor Details</h5>
        <table class="table table-hover table-bordered mt-5" style="margin-top:100p; margin-left: 300px;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Speciality</th>
                    <th scope="col">Address</th>
                    <th scope="col">Work start time</th>
                    <th scope="col">Work end time</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for st in doc %}
                    <tr>
                        <td>{{st.id}}</td>
                        <td>{{st.name}}</td>
                        <td>{{st.email}}</td>
                        <td>{{st.hospital}}</td>
                        <td>{{st.speciality}}</td>
                        <td>{{st.address}}</td>
                        <td>{{st.work_start_time}}</td>
                        <td>{{st.work_end_time}}</td>
                        <!-- <td>{{st.resume}}</td> -->
                        {% comment %} <td><a href="{{st.resume.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a> {% endcomment %}
                            
                        </td>
                        
                        
                       
                        {% comment %} <td>{{st.is_deleted}}</td> {% endcomment %}
                        <td>
                            <a href="/appointment/editdoc/{{st.id}}" class="btn btn-warning btn-sm">Edit</a>
                        </td>
                        <td>
                            <form action="{% url 'deletedoc' st.id %}" method="POST" class="d-inline">
                                {%csrf_token%}
                                <input type="Submit" class="btn btn-danger del" value="Delete">
                            </form>
                        </td>
                        <!-- <td>
                            <td><a href="addemployee/delete/{{ st.id }}">delete</a></td>
                        </td> -->
                    </tr>
                {% endfor %}